<div data-controller="website-row" id="<%= website[:id] %>">
  <raul-grid-cell data-website-row-target="button">"
    <%= website %>
    <button data-action="click->website-row#change">Click me</button>
  </raul-grid-cell>
</div>
