<div
  data-controller="sortable"
  class="sortable-component"
  data-sortable-disabled-value="<%= @disabled %>"
>
  <div class="sortable-content disabled" data-sortable-target="content">
    <div class="scroll-container" data-sortable-target="scroll">
      <ul class="sortable-list" data-sortable-target="list">
        <% @items.each do |item| %>
          <li class="sortable-list-item fade-in" data-sortable-id="<%= item[:id] %>">
            <span class="sortable-handle">☰</span>
            <a data-action="click->sortable#edit" class="flex-grow sortable-open"><%= item[:name] %></a>
            <button class="btn circle" data-action="click->sortable#remove" data-sortable-target="removeButton">♺</button>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <button class="btn small tumeric" data-action="click->sortable#add" data-sortable-target="addButton">+ Add</button>

  <div class="input-group">
    <input
      id="toggle"
      type="checkbox"
      data-action="change->sortable#toggle"
      data-sortable-target="toggle"
    />
    <label class="label" for="toggle">Disabled</label>
  </div>
</div>
