<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js" async></script>

<div
  class="sortable-component"
  data-controller="sortable"
  data-sortable-disabled-value="<%= @disabled %>"
>
  <div class="sortable-content disabled" data-sortable-target="content">
    <div class="scroll-container" data-sortable-target="scroll">
      <ul class="sortable-list" data-sortable-target="list">
        <% @items.each do |item| %>
          <li class="sortable-list-item fade-in" data-sortable-id="<%= item[:id] %>">
            <span class="sortable-handle">☰</span>
            <a data-action="click->sortable#edit" class="flex-grow sortable-open"><%= item[:name] %></a>
            <button class="btn circle" data-action="click->sortable#remove" data-sortable-target="removeButton">♺</button>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <button class="btn small" data-action="click->sortable#add" data-sortable-target="addButton">+ Add</button>

  <div class="input-group">
    <input
      id="toggle"
      type="checkbox"
      data-action="change->sortable#toggle"
      data-sortable-target="toggle"
    />
    <label class="label" for="toggle">Disabled</label>
  </div>
</div>

<style>
:root {
--black: #3e3f3f;
--lt-gray: #d3d4cd;
--md-gray: #a5afc0;
--hover-blue: #e7f4fe;
--primary: #2f76c6;
}

.sortable-component {
  max-width: 500px;
}

.sortable-open {
  /** clickable area to edit **/
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--black);
  padding: 2px 5px;
  user-select: none;
}
.sortable-open:hover {
  font-style: italic;
  font-weight: 900;
  cursor: text;
}
.btn {
  border: 1px solid transparent;
  background-color: var(--black);
  color: white;
  cursor: pointer;
  transition: border            150ms ease-in,
              background-color  250ms ease-out;
  margin-right: 2rem;
}
.small {
  font-size: 0.8rem;
  height: 2rem;
  padding: 0 2rem;
  margin: 1rem 0;
  width: 100%;
  min-width: 5rem;
  border-radius: 5px;
}
.circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: transparent;
  color: var(--md-gray);
  border: 1px solid var(--md-gray);
}
.btn:hover {
  background-color: white;
  color: var(--black);
  border-color: var(--black);
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 2rem;
  border: 1px solid var(--md-gray);
  border-radius: 5px;
  width: 100%;
}

.input-group .label {
  margin-left: 1rem;
  font-weight: 900;
  color: var(--md-gray);
}

.sortable-content {
  min-width: 300px;
  overflow: hidden;
  height: 300px;
  border: 2px solid var(--black);
  transition: opacity           500ms ease,
              background-color  250ms ease;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  background-color: var(--lt-gray);
}

.scroll-container {
  height: 100%;
  overflow: scroll;
}

.ghost-blue {
  background-color: var(--hover-blue);
  opacity: 0.25;
}

.sortable-list {
  list-style: none;
  padding: 1rem;
  margin: 0;
  height: 100%;
  margin-bottom: 2rem;
} 


.sortable-list-item {
  transition: background-color 100ms, opacity: 250ms ease;
  opacity: 1;
  padding: 10px;
  margin-bottom: 1rem;
  cursor: move;
  display: flex;
  align-items: center;
  color: var(--black);
  background-color: var(--lt-gray);
}
.sortable-list-item:last-child {
  margin-bottom: 0;
}
.hidden {
  background-color: var(--hover-blue);
  opacity: 0.2;
}

.sortable-list-item:hover {
  background-color: var(--hover-blue);
}
.sortable-handle {
  margin-right: 10px;
  cursor: move;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}
.flex-grow {
  flex-grow: 1;
}
</style>
