<header id="toolbar" class="editor-header">
  <span id="messages" class="saving-status"><%= @name %></span>
</header>

<div
  data-controller="texteditor"
  data-texteditor-id-value="<%= @id %>"
  id="editor"
  class=""
></div>
