<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js" async></script>

<div class="sortable-component" data-controller="sortable">
<div class="scroll-container">
  <ul class="sortable-list" data-sortable-target="list">
    <% @items.each do |item| %>
      <li class="sortable-list-item fade-in" data-sortable-id="<%= item[:id] %>">
        <span class="sortable-handle">☰</span>
        <a data-action="click->sortable#edit" class="flex-grow sortable-open"><%= item[:name] %></a>
        <button class="btn circle" data-action="click->sortable#remove" data-sortable-target="removeButton">♺</button>
      </li>
    <% end %>
  </ul>
</div>
<button class="btn small" data-action="click->sortable#add" data-sortable-target="addButton">+ Add</button>
</div>

<style>
:root {
--black: #3e3f3f;
--lt-gray: #f9fafa;
--md-gray: #ebedee;
--hover-blue: #e7f4fe;
--primary: #2f76c6;
}

.sortable-open {
  /** clickable area to edit **/
  display: flex;
  align-items: center;
  font-width: 700;
  color: var(--black);
  padding: 2px 5px;
}
.sortable-open:hover {
  font-style: italic;
  font-weight: 900;
  cursor: text;
}
.btn {
  border: 1px solid transparent;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  transition: all 150ms ease-in;
}
.small {
  font-size: 0.8rem;
  height: 2rem;
  padding: 0 1rem;
  min-width: 5rem;
  border-radius: 9999px;
}
.circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.btn:hover {
  background-color: white;
  color: var(--primary);
  border-color: var(--primary);
}
.sortable-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  color: red;
}
.
.scroll-container {
  max-height: 400px;
  overflow: hidden;
}

.ghost-blue {
  background-color: var(--hover-blue);
  opacity: 0.5;
}

.sortable-list {
  border-radius: 7px;
  border-top: 1px solid var(--md-gray);
  border-bottom: 1px solid var(--md-gray);
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto;
  margin-bottom: 2rem;
} 
.sortable-list:first-child {
  border-top: none !important;
}
.sortable-list-item {
  transition: background-color 100ms, opacity: 250ms ease;
  opacity: 1;
  padding: 10px;
  border-top: 1px solid var(--md-gray);
  cursor: move;
  display: flex;
  align-items: center;
  color: var(--black);
  background-color: var(--lt-gray);
}
.hidden {
  background-color: var(--hover-blue);
  opacity: 0.2;
}

.sortable-list-item:hover {
  background-color: var(--hover-blue);
}
.sortable-handle {
  margin-right: 10px;
  cursor: move;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}
.flex-grow {
  flex-grow: 1;
}
</style>
