<div class="page-container">
    <%= render "components/sortable_list" %>
</div>

<style>
*, *:before, *:after {
  box-sizing: border-box;
}
:root {
  --blue: #2e486c;
  --lt-blue: #afd7e6;
}

.page-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid var(--blue);
}

.page-content {
  border: 2px solid var(--lt-blue);
  overflow-y: auto;
}
.page-header {
  border-bottom: 1px solid var(--lt-blue);
  min-height: 80px;
}
.fixed {
  overflow: hidden;
}
.scroll {
  height: 100%;
  overflow-y: scroll;
}
.page-section {
  padding: 1.5rem;
}
