/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 :root {
  --cadet-blue: #bad9e5;
  --san-juan-blue: #2e486c;
  --french-gray: #d3d4cd;
  --black: #3e3f3f;
  --lt-gray: #d3d4cd;
  --md-gray: #a5afc0;
  --hover-blue: #e7f4fe;
  --primary: #294970;
  --turmeric: #ae8f48;
  --danger: #e15241;
  --hover-target-width: 2rem;
}

.padding-1 {
  padding: 1rem;
}


.alert {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 2rem;
  color: white;
  font-weight: 900;
  font-size: 1.25rem;
  background-color: var(--lt-gray);
}

#documents {
  /* border: 1px solid var(--cadet-blue); */
  padding: 1rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem;
}

.documents-group {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.documents-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--md-gray);
  margin: 0;
  font-weight: 900;
  font-size: 1.25rem;

}

.document-wrapper {
  border: 1px solid var(--lt-gray);
  border-radius: 3px;
  padding: 1.25rem 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.document-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  border-left: 4px solid var(--lt-gray);
  margin-right: var(--hover-target-width);
}

.hover-detection {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: var(--hover-target-width);
  /* border: 1px solid red; */
  box-shadow: 2px 0px 10px 10px rgba(46, 72, 108, 1.00);
  /* background-color: transparent; */
  /* transition: background-color 400ms ease-in; */
}
.hover-detection:hover {
  /* background-color: red; */
}
.document-card {
  margin-bottom: 0.15rem;
  flex-grow: 1;
  /* padding: 1rem; */
}
.document-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  /* flex-grow: 1; */

}

.document-preview {
  border: 1px solid var(--lt-gray);
  border-radius: 3px;
  color: var(--lt-gray);
  min-height: 100px;
}

.document-details {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 0.5rem 0;
  /* border-bottom: 1px dotted var(--lt-gray); */
  margin-bottom: 0.25rem;
}

.chip {
  font-size: 0.8rem;
  padding: 0.25rem 0;
  /* border-radius: 5px; */
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 1px solid var(--md-gray);
  /* background-color: var(--black);
  color: white; */
}
.value {
  font-size: 0.8rem;
  padding: 0.25rem 0;
}

.btn, .control-btn {
  padding: 0.25rem 1.5rem;
  text-align: center;
  border: 1px solid transparent;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: background-color  400ms ease-in,
                  border-color  200ms ease-in,
                 border-radius  400ms ease-in;
  cursor: pointer;
  
  /* margin-right: 2rem; */
}

.btn:hover {
  background-color: var(--san-juan-blue);
  border-color: var(--san-juan-blue);
}
.cadet-blue {
  background-color: var(--cadet-blue);
  color: white;
}
.md-gray {
  background-color: var(--md-gray);
  color: white;
}
.lt-gray {
  background-color: var(--lt-gray);
  color: var(--black);
}
.tumeric {
  background-color: var(--turmeric);
  color: white;
}
.danger {
  background-color: var(--danger);
  color: white;
}
/* Button Support Classes */
.disabled {
  pointer-events: none;
  opacity: 0.5;
  background-color: var(--lt-gray);
}
.small {
  font-size: 0.8rem;
  height: 2rem;
  padding: 0 2rem;
  margin: 1rem 0;
  width: 100%;
  min-width: 5rem;
  border-radius: 5px;
}
.circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  color: var(--md-gray);
  border: 1px solid var(--md-gray);
  border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%;
}
.circle:hover {
  border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%;
}


.sortable-component {
  max-width: 500px;
}

.sortable-open {
  /** clickable area to edit **/
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--black);
  padding: 2px 5px;
  user-select: none;
}
.sortable-open:hover {
  font-style: italic;
  font-weight: 900;
  cursor: text;
}



.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 2rem;
  border: 1px solid var(--md-gray);
  border-radius: 5px;
  width: 100%;
}

.input-group .label {
  margin-left: 1rem;
  font-weight: 900;
  color: var(--md-gray);
}

.sortable-content {
  min-width: 300px;
  overflow: hidden;
  height: 300px;
  border: 2px solid var(--black);
  transition: opacity           500ms ease,
              background-color  250ms ease;
}



.scroll-container {
  height: 100%;
  overflow: scroll;
}

.ghost-blue {
  background-color: var(--hover-blue);
  opacity: 0.25;
}

.sortable-list {
  list-style: none;
  padding: 1rem;
  margin: 0;
  height: 100%;
  margin-bottom: 2rem;
} 


.sortable-list-item {
  transition: background-color  100ms,
              opacity           250ms ease;
  opacity: 1;
  padding: 10px;
  margin-bottom: 1rem;
  cursor: move;
  display: flex;
  align-items: center;
  color: var(--black);
  background-color: var(--lt-gray);
}
.sortable-list-item:last-child {
  margin-bottom: 0;
}
.hidden {
  background-color: var(--hover-blue);
  opacity: 0.2;
}

.sortable-list-item:hover {
  background-color: var(--hover-blue);
}
.sortable-handle {
  margin-right: 10px;
  cursor: move;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}
.flex-grow {
  flex-grow: 1;
}



form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.5rem 0.2rem;
  /* border: 1px dashed var(--md-gray); */
  border-radius: 5px;
  /* margin-bottom: 2rem; */
}
form div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 1rem;
  /* border: 2px solid var(--turmeric); */
}
form div label {
  font-weight: 900;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--turmeric);
  /* padding: 0.5rem 1rem; */
  /* border-bottom: 1px solid var(--turmeric); */
}
form input {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--cadet-blue);
  border-radius: 5px;
}
form input[type="submit"] {
  background-color: var(--cadet-blue);
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: 900;
  text-transform: uppercase;
  transition: background-color  400ms ease-in,
              border-color      200ms ease-in;
}
form input[type="submit"]:hover {
  background-color: var(--san-juan-blue);
  border-color: var(--san-juan-blue);
}